@external .menubar,.menumainitem-hover,.menumainitem,.menuitem-hover,.menuitem,.centralarea;


.menubar{
	margin:0px;
	height:30px;
	color:#333333;
}

.menumainitem {
	margin:0px;
	cursor: pointer;
	height:30px;
	font-family: Arial;
	font-size: 12px;
	text-align:center;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #238AB5;
	color:#238AB5;
}

.menumainitem:hover {
	margin:0px;
	cursor: pointer;
	height:30px;
	font-family: Arial;
	font-size: 12px;
	text-align:center;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #238AB5;
	font-weight:bold;
	color:#238AB5;

}
.menuitem {
	padding-top: 5px;
	padding-bottom: 5px;
		width:230px;
}

.menuitem:hover {
	background-color: #C6D9F1;
	color: #111111;
	cursor: pointer;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	width:200px;
}
.centralarea{
	margin-top:0px;
	margin-bottom:0px;
}