<div class="wrapper clearfix">
    <span class="fL">Copyright &copy; 2013 cricketQ.com. All Rights Reserved | Designed by <a href="#">Ada
        Textus</a></span>
        <span class="social-wrap fR">
        	<a target="_blank" title="Facebook" href="#"><img src="/static/images/facebook.png" width="16" height="16"
                                                              alt="Facebook"></a>
            <a target="_blank" title="Twitter" href="#"><img src="/static/images/twitter.png" width="16" height="16"
                                                             alt="Twitter"></a>
            <a target="_blank" title="Linked-in" href="#"><img src="/static/images/linked-in.png" width="16" height="16"
                                                               alt="linked"></a>
            <a target="_blank" title="G-plus" href="#"><img src="/static/images/g-plus.png" width="15" height="15"
                                                            alt="G-plus"></a>
        </span>
</div>