<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
	<filter>
		<description>
		</description>
		<display-name>OAuthFilter</display-name>
		<filter-name>OAuthFilter</filter-name>
		<filter-class>com.thinqq.qsports.server.oauth.OAuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>OAuthFilter</filter-name>
		<url-pattern>/qsportsclient.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>OAuthFilter</filter-name>
    <servlet-name>qSportsSecureService</servlet-name>
	</filter-mapping>
  <!-- Servlets -->
  <servlet>
    <servlet-name>qSportsService</servlet-name>
    <servlet-class>com.thinqq.qsports.server.svcimpl.QSportsCricketSVCImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>qSportsService</servlet-name>
    <url-pattern>/qsportsclient/svc</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>qSportsSecureService</servlet-name>
    <servlet-class>com.thinqq.qsports.server.svcimpl.QSportsSecureServicesImpl</servlet-class>
  </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>OAuthServlet</display-name>
    	<servlet-name>OAuthServlet</servlet-name>
    	<servlet-class>com.thinqq.qsports.server.oauth.OAuthServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>OAuthCallBackServlet</display-name>
    	<servlet-name>OAuthCallBackServlet</servlet-name>
    	<servlet-class>com.thinqq.qsports.server.oauth.OAuthCallBackServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>OAuthLogoutServlet</display-name>
    	<servlet-name>OAuthLogoutServlet</servlet-name>
    	<servlet-class>com.thinqq.qsports.server.oauth.OAuthLogoutServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>LogoutServlet</display-name>
    	<servlet-name>LogoutServlet</servlet-name>
    	<servlet-class>com.thinqq.qsports.server.oauth.LogoutServlet</servlet-class>
    </servlet>
	<servlet>
     <servlet-name>webservice</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>webservice</servlet-name>
        <url-pattern>/ws/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
  <servlet-mapping>
    <servlet-name>qSportsSecureService</servlet-name>
    <url-pattern>/qsportsclient/ssvc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OAuthServlet</servlet-name>
  	<url-pattern>/oauth2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OAuthCallBackServlet</servlet-name>
  	<url-pattern>/oauth2callback</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OAuthLogoutServlet</servlet-name>
  	<url-pattern>/OAuthLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
      <security-constraint>
        <web-resource-collection>
        <web-resource-name>CricketQResources</web-resource-name>
            <url-pattern>/q*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>

</web-app>
